---
layout: default
title: Blog Page
background-position: bg-center
text-position: items-center
banner-height: min-h-[80]
banner-image: /uploads/travel/travel-1.jpg
heading: Exploring Sumbawa.
sub-heading: Nature teaches you to appreciate the finer things in life, to be present, live in the moment and just breath.
text-color: text-white
seo:
  title:
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---



<!------------------------ Header Banner ------------------------>

{% include banner.html %}

<!------------------------ Split blog loop (part 1) ------------------------>
<section class="p-5p">

    <div class="capped-width grid md:grid-cols-6">

        {% for post in site.posts limit:12 %}

            <div class="
            {% cycle
            'col-span-2 bg-slate-200',
            'col-span-2 bg-slate-300',
            'col-span-2 bg-slate-400',
            'col-span-3 bg-slate-100',
            'col-span-3 bg-slate-200',
            %}">
            
                {% include post-loop-item-square.html %}

            </div>

        {% endfor %}

    </div>

</section>